.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  padding: 0 2rem;
  /** modificar en desktop */
  justify-content: space-between;
  width: 100%;
}

.column {
  flex: 1;
  padding: 20px;
  color: white;
}
h2 {
  font-size: 12px;
}

.text-section-nosotros p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding-bottom: .3rem;
}
.text-section-nosotros button {
  background-color: transparent;
  border: #ffffff solid 1px;
  color: #ffffff;
  padding: 6px;
  margin: 1rem 0;
}
.image-section-nosotros {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.image-section img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}


/* titulo */

.mi-tienda{
display: flex;
height: 100%;
align-items: center;
justify-content: center;
}
.mi-tienda h1{
  padding: 1rem 0;
}
.image-section h1 {
  font-family: Roboto;
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
  line-height: 37.5px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #ffffff;
}

/* data final */
.box-sucursales{
  display: flex;
  column-gap: 1rem;
  align-items: baseline;
}
.box-data-global{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  row-gap: 1rem;
  
}
.box-info{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.image-section-data{
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 1rem;
}
.image-section-data img{
  width: 29.46px;
height: 37.15px;


}

@media screen and (max-width:768px) {
  .footer{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
  }
  .column{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0%;
    
  }
  .column p {
    text-align: center;
  }
  .box-sucursales{
    margin: 1rem 0;
  }
  /* titulo */
  
  .watch{
    display:block;
  }
  .hidden{
    display: none;
}

}


.watch{
  display: block;
}
.hidden{
  display: none;
}
